@page
@model WebApplication2.Pages.formModel
@{
	var totalMessage = "";
	if (HttpContext.Request.Method == "POST")
	{
		if (int.TryParse(Request.Form["text1"], out int num1) && int.TryParse(Request.Form["text2"], out int num2))
		{
			var total = num1 + num2 + 3333;
			totalMessage = "Total = " + total;
		}
		else
			totalMessage = "You are idiot";
	}
}

<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
	<form action="" method="post">
		<p>
			<label for="text1">First Number:</label><br>
			<input type="text" name="text1" />
		</p>
		<p>
			<label for="text2">Second Number:</label><br>
			<input type="text" name="text2" />
		</p>
		<p><input type="submit" value=" Add " /></p>
	</form>
	<p>@totalMessage</p>
</body>
</html>
